<div id="home" class="container">
  <h2>Welcome {{ user.name }}</h2>
  <div class="col-xs-12 form-inline" style="width: 100%;height: 100px;margin-bottom: 5%;">
    <input type="button" class="form-control" value="Orders" style="background-color:lightseagreen;margin: 1%;width: 30%;height: 90%;font-size:270%;" ng-click="launch_tab('orders')"></input>
    <input type="button" class="form-control" value="Pricing" style="background-color:lightseagreen;margin: 1%;width: 30%;height: 90%;font-size:270%;" ng-click="launch_tab('pricing')"></input>
    <input type="button" class="form-control" value="Logout" style="background-color:lightseagreen;margin: 1%;width: 30%;height: 90%;font-size:270%;"ng-click="logout()" ></input>
  </div>

  <div class="col-xs-12 form-inline" style="width: 100%;height: 100px;margin-bottom: 5%;      ">
    <input type="button" class="form-control" value="Stores" style="background-color:lightseagreen;margin: 1%;width: 30%;height: 90%;font-size:270%;" ng-click="launch_tab('stores')"></input>
    <input type="button" class="form-control" value="Users" style="background-color:lightseagreen;margin: 1%;width: 30%;height: 90%;font-size:270%;" ng-click="launch_tab('users')"></input>
    <input type="button" class="form-control" value="Products" style="background-color:lightseagreen;margin: 1%;width: 30%;height: 90%;font-size:270%;" ng-click="launch_tab('products')"></input>
  </div>

  <div class="col-xs-12 form-inline" style="width: 100%;height: 100px;">
    <input type="button" class="form-control" value="Place P_Order" style="background-color:lightseagreen;margin: 1%;width: 30%;height: 90%;font-size:270%;" ng-click="launch_tab('procurement')"></input>
    <input type="button" class="form-control" value="View P_Orders" style="background-color:lightseagreen;margin: 1%;width: 30%;height: 90%;font-size:270%;" ng-click="launch_tab('procurementorders')"></input>
    <input type="button" class="form-control" value="View Vendors" style="background-color:lightseagreen;margin: 1%;width: 30%;height: 90%;font-size:270%;" ng-click="launch_tab('vendors')"></input>
  </div>
</div>
