<!-- <div id="login" class="row" style="width:50%;margin:20%;">
  <div class="large-6 large-offset-3">
    <form ng-submit="login()" class="form-group">
      <fieldset class="radius">
        <div class="row form-group">
          <div class="form-group">
            <input type="text" name="username" placeholder="username" tabindex="1"  ng-model="credentials.username" required
            class="form-control"/>
          </div>
            <div class="form-group">
              <input type="password" name="password" placeholder="password" tabindex="2" ng-model="credentials.password" required
              class="form-control"/>
          </div>
        </div>

        <div class=" form-group">
            <button id="log-in" type="submit" class="button large expand radius" tabindex="3" class="form-control btn btn-login" 
            style="background-color: lightseagreen;">Log In</button>
        </div>
      </fieldset>
    </form>
  </div>
</div> -->


<div class="row" style="width: 50%; margin: 25%; margin-top: 10%;">
            <div class="col-lg-12">
            <div class="col-lg-12">
              <form id="login-form" ng-submit="login()" method="post" role="form" style="display: block;">
                <div class="form-group">
                  <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="" ng-model="credentials.username" required>
                </div>
                <div class="form-group">
                  <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" ng-model="credentials.password" >
                </div>
                <div class="form-group">
                  <div class="row" style="">
                    <div class="col-sm-6 col-sm-offset-3">
                      <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In" style="background-color: lightseagreen;">
                    </div>
                  </div>
                </div>
