<div class="container" style="width: 100%;">
    <div class="row form-group">
        <div class="form-inline col-xs-12" align="left">
              <input class="form-control"  type="text" style="margin: 1%;border: 0px; width: 7%;" 
                  value="{{order.id}}" readonly ></input>

              <input class="form-control"  type="text" style="margin: 1%;border: 0px;width: 15%" 
                  value="{{order.store.name}}" readonly></input>

              <input class="form-control"  type="text" style="margin: 1%;border: 0px;width: 13%;" 
                  value="{{order.orderDate | date:'yyyy-MM-dd HH:mm'}}" readonly></input>

               <select class="form-control" style="margin: 1%;" ng-model="order.status" style="width:10%;"
               ng-change="change_order_status()">
                <option value="RECEIVED">RECEIVED</option>
                <option value="PROCESSING">PROCESSING</option>
                <option value="PACKED">PACKED</option>
                <option value="DISPATCHED">DISPATCHED</option>
                <option value="CANCELLED">CANCELLED</option>
                <option value="DELIVERED">DELIVERED</option>
                <option value="RETURNED">RETURNED</option>
              </select>
              
              <select class="form-control" style="margin: 1%;" ng-model="order.fulfillmentStatus" style="width:10%;">
                <option value="FULFILLED">FULFILLED</option>
                <option value="NOT_FULFILLED">NOT_FULFILLED</option>
                <option value="PARTIALLY_FULFILLED">PARTIALLY_FULFILLED</option>
              </select>

                <input class="form-control"  type="text" style="margin: 1%;border: 1px solid;width: 7%;" 
                  ng-model="order.pricePromised" readonly></input>   

               <input class="form-control"  type="text" style="margin: 1%;border: 1px solid;width: 7%;" 
                  ng-model="order.priceCalculated" readonly></input>   

               <input class="form-control"  type="text" style="margin: 1%;border: 1px solid;width: 7%;" 
                  ng-model="order.discount"></input>

               <input type="button" class="form-control" value="Fetch Current Price" style="background-color:lightseagreen;margin: 1%;" ng-click="populate_prices()"></input>
               <input type="button" class="form-control" value="Calculate Amount" style="background-color:lightseagreen;margin: 1%;" ng-click="calculate_amount()"></input>
               <input type="button" class="form-control" value="Update Details" style="background-color:lightseagreen;margin: 1%;" 
               ng-click="update_order_details()"></input>
               <input type="button" class="form-control" value="Print Invoice" style="background-color:lightseagreen;margin: 1%;" 
               ng-click="go_to_invoice_page()"></input>
        </div>
    </div>

    <div class="row form-group col-xs-12" style="margin: 1%;">
        <b> Order Items: </b>
    </div>
    <div class="col-xs-12">
        <div class="form-inline" align="left">

              <input class="form-control"  type="text" style="margin: 1%;border: 0px; width:12%;" 
                  value="Item Name" readonly ></input>

              <input class="form-control"  type="text" style="margin: 1%;border: 0px; width:5%;" 
                  value="Qty" readonly></input>

              <input class="form-control"  type="text" style="margin: 1%;border: 1px solid; width:5%;" 
                  value="P.Qty" readonly></input>

              <input class="form-control"  type="text" style="margin: 1%;border: 0px;width:8%;" 
                  value="Unit " readonly></input>    

             <input class="form-control" style="margin: 1%;width: 10%;" value="status"  readonly>

             <input class="form-control" style="margin: 1%;width: 10%;" value="fulfill status" readonly>
              
              <input class="form-control"  type="text" style="margin: 1%;border: 0px; width: 7%;" 
                   value="Price/unit" readonly></input>

               <input class="form-control"  type="text" style="margin: 1%;border: 1px solid; width: 10%;" 
                  value="FF price/unit  " readonly></input>   

               <input class="form-control"  type="text" style="margin: 1%;border: 1px solid; width: 8%;" 
                  value="Disc" readonly ></input> 
        </div>
    </div>

    <div class="row form-group" style="margin: 0.2%;"  ng-repeat="orderItem in order.orderItems | orderBy:'product.name'">

         <div class="col-xs-12">
            <div class="form-inline" align="left">

              <input class="form-control"  type="text" style="margin: 1%;border: 0px; width:12%;" 
                  value="{{orderItem.product.name}}" readonly ></input>

              <input class="form-control"  type="text" style="margin: 1%;border: 0px; width:5%;" 
                  value="{{orderItem.quantity}}" readonly></input>

              <input class="form-control"  type="text" style="margin: 1%;border: 1px solid; width:5%;" 
                  ng-model = "orderItem.quantityProcured" ng-change="change_status(orderItem)"></input>
            
              <input class="form-control"  type="text" style="margin: 1%;border: 0px;width:8%;" 
                  value="X  {{orderItem.productUnit.unitName}}" readonly></input>    

             <select class="form-control" style="margin: 1%;width: 10%;" ng-model="orderItem.status">
                <option value="RECEIVED">RECEIVED</option>
                <option value="PROCESSING">PROCESSING</option>
                <option value="PACKED">PACKED</option>
                <option value="DISPATCHED">DISPATCHED</option>
                <option value="CANCELLED">CANCELLED</option>
                <option value="DELIVERED">DELIVERED</option>
                <option value="CANCELLED">CANCELLED</option>
                <option value="RETURNED">RETURNED</option>
              </select>
              
              <select class="form-control" style="margin: 1%;width: 10%;" ng-model="orderItem.fulfillmentStatus">
                <option value="FULFILLED">FULFILLED</option>
                <option value="NOT_FULFILLED">NOT_FULFILLED</option>
                <option value="PARTIALLY_FULFILLED">PARTIALLY_FULFILLED</option>
              </select>    

              <input class="form-control"  type="text" style="margin: 1%;border: 0px; width: 7%;" 
                   ng-model="orderItem.pricePerUnit" readonly></input>

               <input class="form-control"  type="text" style="margin: 1%;border: 1px solid; width: 10%;" 
                  ng-model="orderItem.priceOfferedPerUnit"></input>   

               <input class="form-control"  type="text" style="margin: 1%;border: 1px solid; width: 8%;" 
                  ng-model="orderItem.discount"></input> 
            </div>
      
        </div>
     </div>

</div>