
<div class="container" style="width: 100%;">
    <div class="row form-group">
        <div class="col-xs-12">
            <div class="form-inline">
                <select class="form-control" ng-model="order_query.city_id" style="margin: 1.5%;">
                  <option value="1" selected>Coimbtaore</option>
                </select>
                <input class="form-control" id = "from_time" type="datetime-local" style="margin: 1%;" 
                 ng-model="order_query.from_date"></input>
                <input class="form-control" id = "to_time"  type="datetime-local" style="margin: 1%;"
                ng-model="order_query.to_date"></input>
                <select class="form-control" style="margin: 1%;" ng-model="order_query.status">
                <option value="RECEIVED,PROCESSING,PACKED,DISPATCHED,DELIVERED,RETURNED">ALL</option>
                  <option value="RECEIVED">RECEIVED</option>
                  <option value="PROCESSING">PROCESSING</option>
                  <option value="PACKED">PACKED</option>
                  <option value="DISPATCHED">DISPATCHED</option>
                  <option value="DELIVERED">DELIVERED</option>
                  <option value="CANCELLED">CANCELLED</option>
                  <option value="RETURNED">RETURNED</option>
                </select>
                <input type="button" name="fetch_orders" id="fetch_orders" tabindex="4" class="form-control btn" value="Fetch Orders" style="background-color: lightseagreen;" style="margin: 1%;" 
                ng-click="activate_order_search()">
            </div>
        </div>
    </div>

    <div class="row form-group">
      <div class="col-xs-12">
        <div class="form-inline">
          <button tabindex="5" class="form-control btn" style="background-color: lightseagreen;margin: 1%" data-target="#orderStatusModal" data-toggle="modal" ng-click=""> Change Order Status </button>

          <input type="button" tabindex="6" class="form-control btn" value="Generate Procurement List" style="background-color: lightseagreen; margin: 1%" ng-click="generate_procurement_list()">

          <input type="button" tabindex="7" class="form-control btn" value="Generate Frequency List" 
          ng-click = "generate_frequency_list()" filename = "freq_list.csv" field-separator="," decimal-separator="."
          style="background-color: lightseagreen; margin: 1%;">

          <input type="text" tabindex="8" class="form-control" style="margin: 1%;border: 0px;" 
                value="{{ ' Orders Found : ' + orders.length}}" readonly>
          <input type="text" tabindex="9" class="form-control" style="margin: 1%;border: 0px;" 
                value = "{{ 'Orders Selected : ' + order_query.selected_orders }}" readonly>                              
        </div>
      </div>  
    </div>

<!-- table start -->
    <!-- <div class="row form-group" style="border: 1px inset; border-radius:0.5px;" ng-init="names=['1','2','3','4','5','6','7','8','9','10']">
      <div class="row form-group" style="margin: 1%;" ng-repeat="x in names">
         <div class="col-xs-12">
            <div class="form-inline" align="center">

              <input class="form-control"  type="checkbox" style="margin: 1%;border: 0px;" 
                  value="120" readonly></input>

              <input class="form-control"  type="text" style="margin: 1%;border: 0px;" 
                  value="120" readonly></input>

              <input class="form-control"  type="text" style="margin: 1%;border: 0px;" 
                  value="Annachi Shop" readonly></input>

              <input class="form-control"  type="text" style="margin: 1%;border: 0px;" 
                  value="2016-04-23 14:00:00" readonly></input>

              <input class="form-control"  type="text" style="margin: 1%;border: 0px;" 
                  value="RECEIVED" readonly></input>

              <input type="button" class="form-control btn" value="View Order Details" style="background-color:lightseagreen;" style="margin: 1%;"></input>                          
            </div>
         </div>
      </div>
    </div> -->
 <!-- table end -->

<!-- table start --><!-- table start --><!-- table start --><!-- table start -->
<div class="row form-group" style="border: 1px inset; border-radius:0.5px;">
       <div class="form-inline col-xs-12" align="left">
             <input class="form-control"  type="checkbox" style="margin: 1%;border: 0px; width: 4%;"
             ng-model="select_all" ng-change="select_all_orders()"/>

              <input class="form-control"  type="text" style="margin: 1%;border: 0px; width: 7%;" 
                  value="ID" readonly ></input>

              <input class="form-control"  type="text" style="margin: 1%;border: 0px;width: 20%" 
                  value="Store Name" readonly></input>

              <input class="form-control"  type="text" style="margin: 1%;border: 0px;width: 11%;" 
                  value="Order Time" readonly></input>

              <input class="form-control"  type="text" style="margin: 1%;border: 0px;width: 9%;" 
                  value="Order Status" readonly></input>

               <input class="form-control"  type="text" style="margin: 1%;border: 0px;width: 9%;" 
                  value="Fulfill Status" readonly></input>   

               <input class="form-control"  type="text" style="margin: 1%;border: 0px;width: 7%;" 
                  value="Price" readonly></input>

               <input class="form-control"  type="text" style="margin: 1%;border: 0px;width: 4%;" 
                  value="Disc" readonly></input>   

               <input type="text" class="form-control" value="Details" style="border: 0px;
               margin: 1%; width: 7%;" readonly></input>                                   

       </div>
  </div> 
  <!-- table start --><!-- table start --><!-- table start --><!-- table start -->

  <!-- table start --><!-- table start --><!-- table start --><!-- table start -->    
  <div infinite-scroll='get_next_orders_page()' infinite-scroll-disabled='loading_orders' infinite-scroll-distance='1'
      infinite-scroll-listen-for-event='query_again'
       class="row form-group" style="border: 1px inset; border-radius:0.5px;">
    <div class="row form-group" style="margin: 1%;"  ng-repeat='order in orders'>

       <div class="col-xs-12">
            <div class="form-inline" align="left">

              <input class="form-control"  type="checkbox" style="margin: 1%;border: 0px; width: 4%;" ng-model="order.selected" ng-change='select_order(order)'/>

              <input class="form-control"  type="text" style="margin: 1%;border: 0px; width: 7%;" 
                  value="{{order.id}}" readonly ></input>

              <input class="form-control"  type="text" style="margin: 1%;border: 0px;width: 20%" 
                  value="{{order.store.name}}" readonly></input>

              <input class="form-control"  type="text" style="margin: 1%;border: 0px;width: 11%;" 
                  value="{{order.orderDate | date:'yyyy-MM-dd HH:mm'}}" readonly></input>

              <input class="form-control"  type="text" style="margin: 1%;border: 0px;width: 9%;" 
                  value="{{order.status}}" readonly></input>

               <input class="form-control"  type="text" style="margin: 1%;border: 0px;width: 9%;" 
                  value="{{order.fulfillmentStatus}}" readonly></input>   

               <input class="form-control"  type="text" style="margin: 1%;border: 0px;width: 7%;" 
                  value="{{order.priceCalculated ? order.priceCalculated : 0.0 }}" readonly></input>

               <input class="form-control"  type="text" style="margin: 1%;border: 0px;width: 4%;" 
                  value="{{order.discount ? order.discount : 0.0 }}" readonly></input>         

              <input type="button" class="form-control btn" value="Details" style="background-color:lightseagreen;margin: 1%;" ng-click="go_to_order_details(order.id)"></input>                          
            </div>
      
        </div>
      </div>
      <div ng-show='loading_orders'>Loading data...</div>
    </div>
  </div>  
<!-- table end --><!-- table end --><!-- table end --><!-- table end -->

  <div class="modal fade" id="orderStatusModal" role="dialog">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Change Status</h4>
          </div>
          <div class="modal-body">
            <div class="row form-inline" align="center">
               <select class="form-control" style="margin: 1%;" ng-model="order_query.status">
                    <option value="RECEIVED">RECEIVED</option>
                    <option value="PROCESSING">PROCESSING</option>
                    <option value="PACKED">PACKED</option>
                    <option value="DISPATCHED">DISPATCHED</option>
                    <option value="CANCELLED">CANCELLED</option>
                </select>

                <input type="button" name="Update" id="update" tabindex="4" class="form-control btn" value="Update" 
                  ng-click="change_status()" style="background-color:lightseagreen;margin: 1%;"/>
                <input type="text" name="Update" id="status_text" tabindex="4" value="" ng-show = 'status_updated'/>  
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
  </div>


  <div class="modal fade" id="freq_list_modal" role="dialog">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Change Status</h4>
          </div>
          <div class="modal-body">
            <div class="row form-inline" align="center">
                      <input type="button" tabindex="7" class="form-control btn" value="Download Freq List" 
          ng-csv = "get_frequency_list()" filename = "freq_list.csv" csv-header="" field-separator="," decimal-separator="."
          style="background-color: lightseagreen; margin: 1%;">

            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
  </div>

 


</div>