<div class="container" style='border: 2px solid;width: 21cm; margin-top: 4%;'>
  <h2 align='center'>Nogyo Agriculture Marketing Pvt Ltd</h2>
  <p align='center'>Old No: 12/1, New No: 7, Thiruveesar Nagar, K.R Puram, Ganapathy Post,Coimbatore-641006; TIN:</p>            
  <table class="table table-bordered" style="font-size: smaller;height: 10%;width: 100%;">
    <tbody >
      <tr style="height: 0.8cm;">
        <td style='width:15%;'>Order Number:</td>
        <td style='width:30%;'>{{order.id}}</td>
        <td style='width:50%;text-align:center;'><b>Nogyo Contact No: 9790687125</b></td>
      </tr>
      <tr style="height: 0.8cm;">
        <td>Order Date:</td>
        <td>{{order.orderDate | date:'yyyy-MM-dd HH:mm'}}</td>
        <td style="text-align: center"><b>Total Items: &#8377;{{ Math.ceil(order.priceCalculated) }} &nbsp;&nbsp;&nbsp; Delivery Charges: &#8377;0.0  &nbsp;&nbsp;&nbsp; {{order.discount ? "Discount: &#8377;" + order.discount : ""}} </b></td>
      </tr>
      <tr style="height: 0.8cm;">
        <td>Invoice No:</td>
        <td>{{order.id}}</td>
        <td rowspan='2'style='text-align:center;vertical-align:middle;font-size:25px;'><b> Total: &#8377;{{ Math.ceil(order.priceCalculated - order.discount) }} </b> <br>
        <p style='text-align:center;vertical-align:middle;font-size:15px;'>Pending Amount: Rs {{-order.store.userWallet.currentBalance}} /-</p></td>      
      </tr>
      <tr style="height: 0.8cm;">
        <td>Store Name:</td>
        <td style="font-size:15px"><b>{{order.store.name}}</b></td>    
        <!-- <td style='text-align:center;vertical-align:middle'><b> Pending Amount: Rs {{-order.userWallet.currentBalance}} /-</b></td> -->
      </tr>
      <tr style="height: 0.8cm;">
        <td>Store Address:</td>
        <td>{{order.store.address}}</td>
        <td style='text-align:center;vertical-align:middle'><b> Store Contact: {{order.store.phoneNo}} </b></td>
      </tr>
      </tr>
    </tbody>
  </table>
    <table class="table-bordered" style="font-size: small;margin-bottom: 2%;text-align: center;">
    <thead>
        <tr style="height: 6mm;">
          <th style="width:3%;">S.No</th>
          <th style="width:18%;text-align: center;">Item Name</th>
          <th style="width:18%;text-align: center;">Item Name: Tamil</th>
          <th style="width:9%;">Unit</th>
          <th style="width:3%;">Qty Ordered</th>
          <th style="width:3%;">Qty Fulfilled</th>
          <th style="width:3%;">Unit Price</th>
          <th style="width:10%;text-align: center;">Total Price</th>
          <th style="width:3%;">Disc</th>
          <th style="width:12%;text-align: center;">Actual Price</th>
        </tr>
      </thead> 
      <tbody>
        <tr ng-repeat = "orderItem in order.orderItems | orderBy:'product.name'" style="height: 5mm;">
          <td style="text-align: center;">{{$index + 1}}</td>
          <td style="text-align: center;">{{orderItem.product.name}}</td>
          <td style="text-align: center;">{{orderItem.product.localLanguageMap['tamil']}}</td>
          <td style="text-align: center;width:9%;">{{orderItem.productUnit.unitName}}</td>
          <td style="text-align: center;width:3%;">{{orderItem.quantity}}</td>
          <td style="text-align: center;width:3%;">{{orderItem.quantityProcured}}</td>
          <td style="text-align: center;">{{orderItem.priceOfferedPerUnit}}</td>
          <td style="text-align: center;">{{(orderItem.quantityProcured * orderItem.priceOfferedPerUnit).toFixed(2) }}</td>
          <td style="text-align: center;">{{orderItem.discount ? orderItem.discount : 0.0 }}</td>
          <td style="text-align: center;">{{"&#8377;" + ((orderItem.quantityProcured * orderItem.priceOfferedPerUnit) - orderItem.discount).toFixed(2)}}</td>
        </tr>
      </tbody> 
  </table>
</div>