<div class="container" style="width: 95%;margin-top: 4%;">
    <div class="row form-group">
        <div class="col-xs-12" align="center">
            <div class="form-inline">
                <select class="form-control" ng-model="pricing_query.city_id" tabindex="1" style="margin: 1.5%;">
                  <option style="display:none" value class>REGION</option>
                  <option value="1" selected>COIMBATORE</option>
                </select>
                <select class="form-control" ng-model="pricing_query.category_id" tabindex="2" style="margin: 1.5%;"
                ng-change="get_sub_categories()">
                  <option style="display:none" value class>CATEGORY</option>              
                  <option value="1" selected>VEGETABLES</option>
                </select>
                <select class="form-control" ng-model="pricing_query.sub_cat_id" tabindex="3" style="margin: 1.5%;">
                  <option style="display:none" value class>SUB CATEGORY</option>
                   <option ng-repeat = "sub_category in sub_categories" value="{{sub_category.id}}"> {{sub_category.name}} </option>
                </select>
                <input type="button" tabindex="4" class="form-control btn" value="Fetch Prices" style="background-color: lightseagreen;" style="margin: 1%;" 
                ng-click="get_pricing()">
            </div>
        </div>
    </div>

    <table class="table" style="text-align: center; font-size: medium;">

      <thead>
        <tr >
          <th style="text-align: center;width: 2%;" >S.No</th>
          <th style="text-align: center;width: 20%;" >Name</th>
          <th style="text-align: center;width: 3%;" >Min Qty</th>
          <th style="text-align: center;width: 5%;" >Max Qty</th>
          <th style="text-align: center;width: 5%;" >Unit Qty </th>
          <th style="text-align: center;width: 7%;" >Metric </th>
          <th style="width:4%;text-align: center;" >Price/Unit</th>
          <th style="text-align: center;"> Desc </th>
          <th style="width:10%;text-align: center;"> Status </th>
          <th style="text-align: center;width: 20%;"> Update</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat = 'pricing in pricing_list'>
          <td> {{$index + 1}}</td>
          <td> {{pricing.product.name}}</td>
          <td> {{pricing.minQuantity}}</td>
          <td> {{pricing.maxQuantity}}</td>
          <td> {{pricing.productUnit.unitQuantity}}</td>
          <td> {{pricing.productUnit.unitMetric}}</td>
          <td style="width:4%;"> <input type="text" class = "form-control" ng-model="pricing.pricePerUnit"></input></td>
          <td> {{pricing.description}}</td>
          <td  style="width:10%;"> 
              <select class="form-control" tabindex="3" ng-model="pricing.status">
                <option value="ENABLED">ENABLED</option>
                <option value="DISABLED">DISABLED</option>  
              </select>
          </td>         
          <td > <input type="button" tabindex="4" class="form-control btn" value="Update" style="background-color: lightseagreen; width: 46%;" ng-click="update_pricing(pricing)">
          </td>          
        </tr>
      </tbody>
      
    </table>
</div>

