<div class="container" style='border: 2px solid;width: 70%; margin-top: 4%;'>
  <h2 align='center'>Nogyo Agriculture Marketing Pvt Ltd</h2>
  <p align='center'>Old No: 12/1, New No: 7, Thiruveesar Nagar, K.R Puram, Ganapathy Post,Coimbatore-641006; TIN:</p>

  <h3 align='center'>Procurement List for Orders</h3>            
  <h6 style="width: 80%;"> {{proc_list_str}} </h6>
    <table class="table table-bordered">
    <thead>
        <tr>
          <th> S.No</th>
          <th>Item</th>
          <th>Quantity</th>
          <th>Unit</th>
        </tr>
      </thead> 
      <tbody>
        <tr ng-repeat = 'product in proc_list'>
          <td style="text-align: center;">{{$index + 1}}</td>
          <td style="text-align: center;">{{product[1]}}</td>
          <td style="text-align: center;">{{product[3]}}</td>
          <td style="text-align: center;" ng-if="product[2] == 1">Kgs</td>
          <td style="text-align: center;" ng-if="product[2] == 2">Units</td>
        </tr>
      </tbody> 
  </table>
</div>