<div class="container" style="width: 100%;">
    <div class="row form-group">
        <div class="form-inline col-xs-12" align="center">
              <input class="form-control"  type="text" style="margin: 1%;border: 0px; width: 7%;" 
                  value="{{order[0].purchaseOrder.id}}" readonly ></input>
            
              <input class="form-control"  type="text" style="margin: 1%;border: 0px;width: 13%;" 
                  value="{{order[0].purchaseOrder.createdAt | date:'yyyy-MM-dd HH:mm'}}" readonly></input>

               <select class="form-control" style="margin: 1%;" ng-model="order[0].purchaseOrder.status" style="width:10%;"
               ng-change="change_order_status(order[0].purchaseOrder.status)">
                <option value="PLACED">PLACED</option>
                  <option value="UNDER_PROCUREMENT">UNDER_PROCUREMENT</option>
                  <option value="PROCURED">PROCURED</option>
                  <option value="RECEIVED">RECEIVED</option>
                  <option value="RETURNED">RETURNED</option>
                  <option value="CANCELLED">CANCELLED</option>
                  <option value="CLOSED">CLOSED</option>
              </select>
              
               <input type="button" class="form-control" value="Update Details" style="background-color:lightseagreen;margin: 1%;" 
               ng-click=""></input>
               <!-- update_order_item_details() -->
        </div>
    </div>

    <div class="row form-group col-xs-12" style="margin: 1%;" align="center">
        <b> Order Items: </b>
    </div>
    <div class="col-xs-12">
        <div class="form-inline" align="center">

              <input class="form-control"  type="text" style="margin: 1%;border: 0px; width:12%;" 
                  value="Item Name" readonly ></input>

              <input class="form-control"  type="text" style="margin: 1%;border: 0px; width:5%;" 
                  value="Qty" readonly></input>

              <input class="form-control"  type="text" style="margin: 1%;border: 1px solid; width:5%;" 
                  value="P.Qty" readonly></input>                           
                           
              <input class="form-control"  type="text" style="margin: 1%;border: 0px; width: 10%;" 
                   value="Total Amount" readonly></input>

              <input class="form-control"  type="text" style="margin: 1%;border: 0px; width: 10%;" 
                   value="Market" readonly></input>

              <input class="form-control"  type="text" style="margin: 1%;border: 0px; width: 10%;" 
                   value="Vendor" readonly></input>
              
        </div>
    </div>

    <div class="row form-group" style="margin: 0.2%;"  ng-repeat="orderItem in order | orderBy:'order.product.name'">

         <div class="col-xs-12">
            <div class="form-inline" align="center">

              <input class="form-control"  type="text" style="margin: 1%;border: 0px; width:12%;" 
                  value="{{orderItem.product.name}}" readonly ></input>

              <input class="form-control"  type="text" style="margin: 1%;border: 0px; width:5%;" 
                  value="{{orderItem.order_qty}}"></input>

              <input class="form-control"  type="text" style="margin: 1%;border: 1px solid; width:5%;" 
                  ng-model = "orderItem.procured_qty" ng-change="" readonly></input>
                      
              <input class="form-control"  type="text" style="margin: 1%;border: 0px; width: 10%;" 
                   ng-model="orderItem.total_amount" readonly></input>

              <input class="form-control"  type="text" style="margin: 1%;border: 1px solid; width:10%;" 
                  ng-model = "orderItem.sourcingPoint.sourcing_mkt_name" ng-change="" readonly></input>
                      
              <input class="form-control"  type="text" style="margin: 1%;border: 0px; width: 10%;" 
                   ng-model="orderItem.vendor.vendor_name" readonly></input>
               
            </div>
      
        </div>
     </div>

</div>