
<div class="container" style="width: 100%;">
    <div class="row form-group">
        <div class="col-xs-12">
            <div class="form-inline">
                <select class="form-control" ng-model="order_query.city_id" style="margin: 1.5%;">
                  <option value="1" selected>Coimbtaore</option>
                </select>
                <input class="form-control" id = "from_time_proc" type="datetime-local" style="margin: 1%;" 
                 ng-model="order_query.from_date"></input>
                <input class="form-control" id = "to_time_proc"  type="datetime-local" style="margin: 1%;"
                ng-model="order_query.to_date"></input>
                <select class="form-control" style="margin: 1%;" ng-model="order_query.status">
                <option value="PLACED,UNDER_PROCUREMENT,PROCURED,RECEIVED,RETURNED,CANCELLED,CLOSED">ALL</option>
                  <option value="PLACED">PLACED</option>
                  <option value="UNDER_PROCUREMENT">UNDER_PROCUREMENT</option>
                  <option value="PROCURED">PROCURED</option>
                  <option value="RECEIVED">RECEIVED</option>
                  <option value="RETURNED">RETURNED</option>
                  <option value="CANCELLED">CANCELLED</option>
                  <option value="CLOSED">CLOSED</option>
                </select>
                <input type="button" name="fetch_proc_orders" id="fetch_proc_orders" tabindex="4" class="form-control btn" value="Fetch Procurement Orders" style="background-color: lightseagreen;" style="margin: 1%;" 
                ng-click="activate_order_search()">
            </div>
        </div>
    </div>

    <div class="row form-group">
      <div class="col-xs-12">
        <div class="form-inline">
          <button tabindex="5" class="form-control btn" style="background-color: lightseagreen;margin: 1%" data-target="#orderStatusModal" data-toggle="modal" ng-click=""> Change Procurement Order Status </button>

          <input type="text" tabindex="8" class="form-control" style="margin: 1%;border: 0px;" 
                value="{{ ' Orders Found : ' + orders.length}}" readonly>
          <input type="text" tabindex="9" class="form-control" style="margin: 1%;border: 0px;" 
                value = "{{ 'Orders Selected : ' + order_query.selected_orders }}" readonly>                              
        </div>
      </div>  
    </div>

<div class="row form-group" style="border: 1px inset; border-radius:0.5px;">
       <div class="form-inline col-xs-12" align="left">
             <input class="form-control"  type="checkbox" style="margin: 1%;border: 0px; width: 4%;"
             ng-model="select_all" ng-change="select_all_orders()"/>

              <input class="form-control"  type="text" style="margin: 1%;border: 0px; width: 20%;" 
                  value="ID" readonly ></input>

              <!-- <input class="form-control"  type="text" style="margin: 1%;border: 0px;width: 20%" 
                  value="User Name" readonly></input> -->

              <input class="form-control"  type="text" style="margin: 1%;border: 0px;width: 20%;" 
                  value="Order Time" readonly></input>

              <input class="form-control"  type="text" style="margin: 1%;border: 0px;width: 20%;" 
                  value="Order Status" readonly></input>
                 
              <input class="form-control"  type="text" style="margin: 1%;border: 0px;width: 7%;" 
                  value="Price" readonly></input>

              <input type="text" class="form-control" value="Details" style="border: 0px;
               margin: 1%; width: 7%;" readonly></input>
       </div>
  </div> 

  <div infinite-scroll='get_next_orders_page()' infinite-scroll-disabled='loading_orders' infinite-scroll-distance='1'
      infinite-scroll-listen-for-event='query_again'
       class="row form-group" style="border: 1px inset; border-radius:0.5px;">
    <div class="row form-group" style="margin: 1%;"  ng-repeat='order in orders'>

       <div class="col-xs-12">
            <div class="form-inline" align="left">

              <input class="form-control"  type="checkbox" style="margin: 1%;border: 0px; width: 4%;" ng-model="order.selected" ng-change='select_order(order)'/>

              <input class="form-control"  type="text" style="margin: 1%;border: 0px; width: 20%;" 
                  value="{{order.id}}" readonly ></input>

              <!-- <input class="form-control"  type="text" style="margin: 1%;border: 0px;width: 20%" 
                  value="{{order.user_id}}" readonly></input> -->

              <input class="form-control"  type="text" style="margin: 1%;border: 0px;width: 20%;" 
                  value="{{order.createdAt | date:'yyyy-MM-dd HH:mm'}}" readonly></input>

              <input class="form-control"  type="text" style="margin: 1%;border: 0px;width: 20%;" 
                  value="{{order.status}}" readonly></input>               

              <input class="form-control"  type="text" style="margin: 1%;border: 0px;width: 7%;" 
                  value="{{order.total_cost ? order.total_cost : 0.0 }}" readonly></input>

              <input type="button" class="form-control btn" value="Details" style="background-color:lightseagreen;margin: 1%;" ng-click="go_to_order_details(order.id)"></input>                                        
            </div>
      
        </div>
      </div>
      <div ng-show='loading_orders'>Loading data...</div>
    </div>
  </div>  

  <div class="modal fade" id="orderStatusModal" role="dialog">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Change Status</h4>
          </div>
          <div class="modal-body">
            <div class="row form-inline" align="center">
               <select class="form-control" style="margin: 1%;" ng-model="order_query.status">
                    <option value="PLACED">PLACED</option>
                  <option value="UNDER_PROCUREMENT">UNDER_PROCUREMENT</option>
                  <option value="PROCURED">PROCURED</option>
                  <option value="RECEIVED">RECEIVED</option>
                  <option value="RETURNED">RETURNED</option>
                  <option value="CANCELLED">CANCELLED</option>
                  <option value="CLOSED">CLOSED</option>
                </select>

                <input type="button" name="Update" id="update" tabindex="4" class="form-control btn" value="Update" 
                  ng-click="change_status()" style="background-color:lightseagreen;margin: 1%;"/>
                <input type="text" name="Update" id="status_text" tabindex="4" value="" ng-show = 'status_updated'/>  
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
  </div>


  <div class="modal fade" id="freq_list_modal" role="dialog">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Change Status</h4>
          </div>
          <div class="modal-body">
            <div class="row form-inline" align="center">
                      <input type="button" tabindex="7" class="form-control btn" value="Download Freq List" 
          ng-csv = "get_frequency_list()" filename = "freq_list.csv" csv-header="['Item name','Quantity','Frequency']" field-separator="," decimal-separator="."
          style="background-color: lightseagreen; margin: 1%;">

            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
  </div>
</div>