<div class="container" style="width: 95%;margin-top: 4%;">
    <div class="row form-group">
        <div class="col-xs-12" align="center">
            <div class="form-inline">
                <select class="form-control" ng-model="pricing_query.city_id" tabindex="1" style="margin: 1.5%;">
                  <option style="display:none" value class>REGION</option>
                  <option value="1" selected>COIMBATORE</option>
                </select>
                <select class="form-control" ng-model="pricing_query.category_id" tabindex="2" style="margin: 1.5%;"
                ng-change="get_sub_categories()">
                  <option style="display:none" value class>CATEGORY</option>
                  <option value="1" selected>VEGETABLES</option>
                </select>
                <select class="form-control" ng-model="pricing_query.sub_cat_id" tabindex="3" style="margin: 1.5%;">
                   <option style="display:none" value class>SUB CATEGORY</option>
                   <option ng-repeat = "sub_category in sub_categories" value="{{sub_category.id}}"> {{sub_category.name}} </option>
                </select>
                <input type="button" tabindex="4" class="form-control btn" value="Fetch Sku's" style="background-color: lightseagreen;" style="margin: 1%;" 
                ng-click="get_pricing()">              
                <button tabindex="5" class="form-control btn" style="background-color: lightseagreen;margin: 1%" ng-click="getAllCart()" data-target="#orderStatusModal" data-toggle="modal"> View Cart </button>
            </div>
        </div>
    </div>

    <table class="table" style="text-align: center; font-size: medium;">

      <thead>
        <tr >
          <th style="text-align: center;width: 2%;" >S.No</th>
          <th style="text-align: center;width: 20%;" >Name</th>        
          <th style="text-align: center;width: 7%;" >Metric </th>
          <th style="width:4%;text-align: center;" >Qty to be procured</th>
          <th style="width:4%;text-align: center;" >Market Name</th>
          <th style="width:4%;text-align: center;" >Vendor Name</th>
          <th style="width:10%;text-align: center;"> Status </th>
          <th style="text-align: center;width: 20%;"> Add to cart</th>        
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat = 'pricing in pricing_list'>
          <td> {{$index + 1}}</td>
          <td> {{pricing.product.name}}</td>
          <td> {{pricing.productUnit.unitMetric}}</td>
          <td style="width:4%;"> <input type="text" class = "form-control" ng-model="orderQty"></input></td>      
          <td  style="width:10%;"> 
              <select class="form-control" tabindex="3" ng-model="marketSelected" ng-change="get_vendors(marketSelected)" ng-click="get_vendors(marketSelected)" ng-options="o.sourcing_mkt_id as o.sourcing_mkt_name for o in markets"> 
              <option style="display:none" value class>SELECT MARKET</option>           
              </select>
          </td>
          <td  style="width:10%;"> 
              <select class="form-control" tabindex="3" ng-model="vendorSelected" ng-options="o.vendor_id as o.vendor_name for o in vendors">
              <option style="display:none" value class>SELECT VENDOR</option>            
              </select>            
          </td>
          <td  style="width:4%;"> {{pricing.status}}</td>         
          <td > <input type="button" tabindex="4" class="form-control btn" value="Add to cart" style="background-color: lightseagreen; width: 46%;" ng-click="addToCart(pricing, orderQty, marketSelected, vendorSelected)">
          </td>          
        </tr>
      </tbody>
    </table>

    <div class="modal fade" id="orderStatusModal" role="dialog">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Place Procurement Order</h4>
          </div>
          <div class="modal-body">
            <div class="row form-inline" align="center">
                <table class="table" style="text-align: center; font-size: medium;">
                  <thead>
                    <tr >
                      <th style="text-align: center;width: 2%;" >S.No</th>
                      <th style="text-align: center;width: 20%;" >SKU</th> 
                      <th style="width:3%;text-align: center;" >Qty</th>       
                      <th style="text-align: center;width: 7%;" >Market</th>        
                      <th style="width:4%;text-align: center;" >Vendor</th>          
                      <th style="text-align: center;width: 20%;"> Remove from cart</th>        
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat = 'cart in cartList'>
                      <td> {{$index + 1}}</td>
                      <td> {{cart.product.name}}</td>
                      <td> {{cart.order_qty}}</td>    
                      <td> {{cart.sourcingPoint.sourcing_mkt_name}}</td>          
                      <td  style="width:4%;"> {{cart.vendor.vendor_name}}</td>         
                      <td > <input type="button" tabindex="4" class="form-control btn" value="Remove" style="background-color: lightseagreen; width: 70%;" ng-click="removeFromCart(cart)">
                      </td>
                    </tr>
                  </tbody>      
                </table>
                <input type="button" name="Update" id="update" tabindex="4" class="form-control btn" value="Place Order" ng-click="placeOrder(cartList)" style="background-color:lightseagreen;margin: 1%;"/>
                <input type="text" name="Update" id="status_text" tabindex="4" value="" ng-show = 'status_updated'/>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
  </div>
</div>

