<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQj_ekLl1IiFiqhsEeX_PoCjk2XDeyQdo&libraries=places"></script> -->
<div class="container" style="width: 95%;margin-top: 4%;">
    <div class="row form-group">
        <div class="col-xs-12" align="center">
            <div class="form-inline">
                <select class="form-control" ng-model="store_query.city_id" tabindex="1" style="margin: 1.5%;">
                  <option value="1" selected>COIMBATORE</option>
                </select>
                <select class="form-control" ng-model="store_query.locality_id" tabindex="2" style="margin: 1.5%;">
                  <option value="0" selected>ALL</option>
                </select>
                <input type="button" tabindex="4" class="form-control btn" value="Fetch Stores" style="background-color: lightseagreen;" style="margin: 1%;" 
                ng-click="get_stores()"/>

                <input type="button" tabindex="4" class="form-control btn" value="Add Store" style="background-color: lightseagreen;margin: 1%;margin-left: 20%;"
                ng-click="show_add_stores()"/>
            </div>
        </div>
    </div>

    <table class="table table-hover" style="font-size: medium;text-align: center;width: 100%;" id="stores_table">

      <thead>
        <tr >
          <th style="text-align: center;width: 10%;" >Store ID</th>
          <th style="text-align: center;width: 25%;" >Name</th>
          <th style="text-align: center;width: 10%;" >Contact No</th>
          <th style="text-align: center;width: 10%;" >Type</th>
          <th style="text-align: center;width: 10%;" >Status</th>
          <th style="text-align: center;width: 15%;" >Locality</th>
          <th style="text-align: center;width: 10%;" >City</th>
          <th style="text-align: center;width: 10%;" >Pincode</th>
        </tr>
      </thead>
      <tbody>
          <tr ng-repeat="store in stores" ng-click = 'go_to_store_details(store)'>  
              <td style="text-align: center;width: 10%;" >{{store.id}}</td>
              <td style="text-align: center;width: 25%;" >{{store.name}}</td>
              <td style="text-align: center;width: 10%;" >{{store.phoneNo}}</td>
              <td style="text-align: center;width: 10%;" >{{store.type}}</td>
              <td style="text-align: center;width: 10%;" >{{store.status}}</td>
              <td style="text-align: center;width: 15%;" >{{store.locality.name}}</td>
              <td style="text-align: center;width: 10%;" >{{store.locality.city.name}}</td>
              <td style="text-align: center;width: 10%;" >{{store.locality.pincode}}</td>
          </tr>
      </tbody>
    </table>

    <div style="display: none;" id="store_view" style="text-align:center; width:100%;" class="form-group">
               <div class="row form-group">
                  <div class="col-xs-12" align="left">
                    <div class="form-inline">
                        <input class="form-control" type="text" ng-model="store.id" readonly placeholder="id">
                        <input class="form-control" type="text" ng-model="store.name" placeholder="name">
                        <input class="form-control" type="text" ng-model="store.contactPerson" placeholder="contact name">
                        <input class="form-control" type="text" ng-model="store.phoneNo" placeholder="phone no">
                    </div>
                    <div class="form-inline" style="margin-top: 2%;">
                      <textarea class="form-control" type="text" ng-model="store.address" style="width: 80%;" rows="4"
                      placeholder="address">
                      </textarea>
                    </div>
                    <div class="form-inline" style="margin-top: 2%;">
                      <select class="form-control" style="margin: 1%;" ng-model="store.type "> 
                          <option value="SMALL"> SMALL </option>
                          <option value="MEDIUM"> MEDIUM </option>
                          <option value="LARGE"> LARGE </option>
                      </select>
                      <select class="form-control" style="margin: 1%;" ng-model="store.status"> 
                          <option value="ENABLED"> ENABLED </option>
                          <option value="DISABLED"> DISABLED </option>
                      </select>    
                      <select class="form-control" ng-model="store.salesUserId" style="margin:1%;">
                        <option style="display:none" value class>SELECT SALES USER</option>
                        <option ng-repeat = "sales_user in sales_users" value="{{sales_user.id}}"> {{sales_user.name}}</option>
                      </select>                
                    </div>
                    <div class="form-inline" style="margin-top: 2%;width: 80%;">
                      <input class="form-control" type="text"ng-model="entered_locality" value='{{store.locality.name + 
                      "," + store.locality.city.name + "," + store.locality.city.state}}' placeholder="Enter the street name" 
                      gm-places-autocomplete="options" style="width: 100%;">
                    </div>

                    <div class="form-inline" style="margin-top: 2%;">
                        <input class="form-control" type="text" ng-model="store.locality.name">
                        <input class="form-control" type="text" ng-model="store.locality.city.name">
                        <input class="form-control" type="text" ng-model="store.locality.pincode">
                    </div>
                    <div class="form-inline" style="margin-top:5%;margin-bottom: 3%;">
                       <input class="form-control" type="button"
                       style="background-color: lightseagreen; margin: 1%; width: 20%;height: 50px;" value = "update details" ng-click = "update_store_details()"/>

                       <input class="form-control" type="button" ng-click="go_to_store_user()"
                       style="background-color: lightseagreen; width: 20%;height: 50px;" value = "Store User"/>

                       <input class="form-control" type="button" ng-click="back_to_stores()"
                       style="background-color: lightseagreen; width: 20%;margin-left: 30%;height: 50px;"value = "back to stores"/>
                    </div>
                  </div>
              </div>
        </div>  


     <div style="display: none;" id="store_add_view" style="text-align: center;width: 100%;" class="form-group">
               <div class="row form-group">
                  <div class="col-xs-12" align="left">
                    <div class="form-inline">
                        <input class="form-control" type="text" ng-model="store.id" readonly placeholder="id">
                        <input class="form-control" type="text" ng-model="store.name" placeholder="name">
                        <input class="form-control" type="text" ng-model="store.contactPerson" placeholder="Contact Name">
                        <input class="form-control" type="text" ng-model="store.phoneNo" placeholder="Phone Number">
                    </div>
                    <div class="form-inline" style="margin-top: 2%;">
                      <textarea class="form-control" type="text" ng-model="store.address" style="width: 80%;" rows="4"
                       placeholder="Address">
                      </textarea>
                    </div>
                    <div class="form-inline" style="margin-top: 2%;">
                      <select class="form-control" style="margin: 1%;" ng-model="store.type "> 
                          <option value="SMALL"> SMALL </option>
                          <option value="MEDIUM"> MEDIUM </option>
                          <option value="LARGE"> LARGE </option>
                      </select>
                      <select class="form-control" style="margin: 1%;" ng-model="store.status"> 
                          <option value="ENABLED"> ENABLED </option>
                          <option value="DISABLED"> DISABLED </option>
                      </select>
                      <select class="form-control" ng-model="store.salesUserId" style="margin:1%;">
                        <option style="display:none" value class>SELECT SALES USER</option>
                        <option ng-repeat = "sales_user in sales_users" value="{{sales_user.id}}"> {{sales_user.name}}</option>
                      </select>
                    </div>
                    <div class="form-inline" style="margin-top: 2%;width: 80%;">
                      <input class="form-control" type="text"ng-model="entered_locality" value='{{store.locality.name ? (store.locality.name + 
                      "," + store.locality.city.name + "," + store.locality.city.state) : "" }}' placeholder="Enter the street name" 
                      gm-places-autocomplete="options" style="width: 100%;">
                    </div>

                    <div class="form-inline" style="margin-top: 2%;">
                        <input class="form-control" type="text" ng-model="store.locality.name" placeholder="locality">
                        <input class="form-control" type="text" ng-model="store.locality.city.name" placeholder="city">
                        <input class="form-control" type="text" ng-model="store.locality.pincode" placeholder="pincode">
                    </div>
                    <div class="form-inline" style="margin-top:5%;margin-bottom: 3%;">
                       <input class="form-control" type="button"
                       style="background-color: lightseagreen; margin: 1%; width: 20%;height: 50px;" value = "Add Store" ng-click = "add_store()"/>

                       <input class="form-control" type="button" ng-click="go_to_store_user()"
                       style="background-color: lightseagreen; width: 20%;height: 50px;" value = "Store User"/>

                       <input class="form-control" type="button" ng-click="back_to_stores()"
                       style="background-color: lightseagreen; width: 20%;margin-left: 30%;height: 50px;"value = "back to stores"/>
                    </div>
                  </div>
              </div>
        </div>  
</div>


<!-- <div class="modal fade" style="width: 95%;margin-top: 4%;" id="store_view_modal" role="dialog">

  <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Store Details</h4>
          </div>
          <div class="modal-body" style="margin-left: 10%;">
               <div class="row form-group">
                  <div class="col-xs-12" align="left">
                    <div class="form-inline">
                        <input class="form-control" type="text" ng-model="store.id" readonly>
                        <input class="form-control" type="text" ng-model="store.name">
                        <input class="form-control" type="text" ng-model="store.contactName">
                        <input class="form-control" type="text" ng-model="store.phoneNo">
                    </div>
                    <div class="form-inline" style="margin-top: 2%;">
                      <textarea class="form-control" type="text" ng-model="store.address" style="width: 80%;" rows="4">
                      </textarea>
                    </div>
                    <div class="form-inline" style="margin-top: 2%;">
                      <select class="form-control" style="margin: 1%;" ng-model="store.type "> 
                          <option value="SMALL"> SMALL </option>
                          <option value="MEDIUM"> MEDIUM </option>
                          <option value="LARGE"> LARGE </option>
                      </select>
                      <select class="form-control" style="margin: 1%;" ng-model="store.status"> 
                          <option value="ENABLED"> ENABLED </option>
                          <option value="DISABLED"> DISABLED </option>
                        </select>
                    </div>
                    <div class="form-inline" style="margin-top: 2%;z-index: 1050">
                        <input class="form-control" type="text" ng-model="store.locality.name" id='store_locality_for_update'
                         gm-places-autocomplete="options">
                        <input class="form-control" type="text" ng-model="store.locality.city.name">
                        <input class="form-control" type="text" ng-model="store.locality.pincode">
                    </div>        
                 </div>
              </div>
              <div class="row form-group">
                 <input class="form-control" type="button" ng-click="update_store()"
                 style="background-color: lightseagreen; margin: 1%; width: 80%;"value = "update details"></input>
              </div>
          </div>  
          </div>
        </div>
      </div>
 <div>   
 -->