<div class="container" style="width: 95%;margin-top: 4%;">
    <div class="row form-group">
        <div class="col-xs-12" >
            <div class="form-inline">
                <input type="text" class="form-control" ng-model="user_query.mobile_no" align="left">
                <input type="button" class="form-control" tabindex="4" class="form-control btn" value="Fetch Users" style="background-color: lightseagreen;" style="margin: 1%;" 
                ng-click="get_users()" align="left" />
                <input type="button" class="form-control" tabindex="4" class="form-control btn" value="Add New User" style="background-color: lightseagreen;margin-left: 50%;" 
                ng-click="show_add_user_page()"/>
            </div>
        </div>
    </div>

    
    <table class="table table-hover" style="text-align: center; font-size: medium;">

      <thead>
        <tr>
          <th style="text-align: center;width: 2%;" >User ID</th>
          <th style="text-align: center;width: 20%;" >Name</th>
          <th style="text-align: center;width: 20%;" >Email</th>
          <th style="text-align: center;width: 20%;" >Mobile No</th>
          <th style="text-align: center;width: 10%;" >Type</th>
          <th style="text-align: center;width: 10%;" >Status</th>
          <th style="text-align: center;width: 10%;" >Current Balance</th>
        </tr>
      </thead>
      <tbody>
          <tr ng-repeat="user in users" ng-click="go_to_user_details(user)">  
              <td  style="text-align: center;width: 2%;" >{{user.id}}</td>
              <td style="text-align: center;width: 20%;" >{{user.name}}</td>
              <td style="text-align: center;width: 20%;" >{{user.emailId}}</td>
              <td style="text-align: center;width: 20%;" >{{user.phoneNo}}</td>
              <td style="text-align: center;width: 10%;" >{{user.type}}</td>
              <td style="text-align: center;width: 10%;" >{{user.status}}</td>
              <td style="text-align: center;width: 10%;" >{{user.userWallet.currentBalance}}</td>
          </tr>
      </tbody>
    </table>

  <div class="modal fade" style="width: 95%;margin-top: 4%;" id="user_view" role="dialog">

  <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">User Details</h4>
          </div>
          <div class="modal-body" style="margin-left: 10%;">
               <div class="row form-group">
                  <div class="col-xs-12" align="left">
                    <div class="form-inline">
                        <input class="form-control" type="text" ng-model="selectedUser.id" readonly>
                        <input class="form-control" type="text" ng-model="selectedUser.name">
                
                        <input class="form-control" type="text" ng-model="selectedUser.emailId">
                        <input class="form-control" type="text" ng-model="selectedUser.phoneNo">
                    </div>
                    <div class="form-inline" style="margin-top: 2%;">
                      <textarea class="form-control" type="text" ng-model="selectedUser.address" style="width: 80%;" rows="4">
                      </textarea>
                    </div>
                    <div class="form-inline" style="margin-top: 2%;">
                        <input class="form-control" type="text" ng-model="selectedUser.type" readonly>
                      <select class="form-control" style="margin: 1%;" ng-model="selectedUser.status"> 
                          <option value="ACTIVE"> ACTIVE </option>
                          <option value="INACTIVE"> INACTIVE </option>
                        </select>
                    </div>
                    <div class="form-inline" style="margin-top: 2%;">
                        <input class="form-control" type="text" ng-model="selectedUser.userWallet.currentBalance" readonly>
                        <input class="form-control" type="text" ng-model="selectedUser.userWallet.lowerLimit">
                        <input class="form-control" type="text" ng-model="selectedUser.userWallet.upperLimit">
                    </div>        
                 </div>
              </div>
              <div class="row form-group">
                 <input class="form-control" type="button" ng-click="update_user()"
                 style="background-color: lightseagreen; margin: 1%; width: 80%;"value = "update details"
                 ></input>
                 <input class="form-control" type="button" ng-click="collect_cash()"
                 style="background-color: lightseagreen; margin: 1%; width: 80%;"value = "Collect Pending Cash"></input>
              </div>
          </div>  
          </div>
        </div>
      </div>


</div>  

   <div class="modal fade" style="width: 95%;margin-top: 4%;" id="user_add" role="dialog">

  <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">User Details</h4>
          </div>
          <div class="modal-body" style="width: 50%;text-align: center;margin-left: 25%;">
            <div class="row form-group">
               <input class="form-control" type="text" ng-model="selectedUser.name"  placeholder="name">
            </div>
            <div class="row form-group">
               <input class="form-control" type="text" ng-model="selectedUser.phoneNo"  placeholder="phone No">
            </div>
            <div class="row form-group">
               <input class="form-control" type="password" ng-model="selectedUser.password"  placeholder="password">
            </div>
            <div class="row form-group">
               <input class="form-control" type="text" ng-model="selectedUser.emailId"  placeholder="Email Id">
            </div>

            <div class="row form-group">
               <textarea class="form-control" type="textarea" ng-model="selectedUser.address"  placeholder="Address" rows="4">


               </textarea> 
            </div>

            <div class="row form-group">
               <select class="form-control" ng-model="selectedUser.type" placeholder="type">
                 <option value="WAREHOUSE_ADMIN">WAREHOUSE_ADMIN </option>
                 <option value="ADMIN">ADMIN </option>
                 <option value="STORE">STORE </option>
                 <option value="SALES">SALES </option>
               </select>
            </div>
            <div class="row form-group">
               <input class="form-control" type="button"
                 style="background-color: lightseagreen; margin: 1%; width: 80%; margin-left: 10%;"value = "Add User"
                 ng-click="add_user()"></input>
            </div>
          </div>
        </div>
  </div>
</div>
