<div class="container" style="width: 95%;margin-top: 4%;">

	<div class="row form-group">
	        <div class="col-xs-12" align="center">
	            <div class="form-inline">
	                <input class="form-control" type="text" ng-model="selectedUser.id" readonly>
	                <input class="form-control" type="text" ng-model="selectedUser.name">
	       
	                <input class="form-control" type="text" ng-model="selectedUser.emailId">
	                <input class="form-control" type="text" ng-model="selectedUser.mobileNo">
	            </div>
	            
	            <div class="form-inline" style="margin-top: 2%;">
	               <input class="form-control" type="text" ng-model="selectedUser.address" style="width: 80%;">
	            </div>

	            <div class="form-inline" style="margin-top: 2%;">
	                <input class="form-control" type="text" ng-model="selectedUser.type" readonly>
	            	<select class="form-control" style="margin: 1%;" ng-model="selectedUser.status"> 
	                  <option value="ACTIVE"> ACTIVE </option>
	                  <option value="INACTIVE"> INACTIVE </option>
	                </select>
	            </div>
	            <div class="form-inline" style="margin-top: 2%;">
	                <input class="form-control" type="text" ng-model="selectedUser.userWallet.currentBalance" readonly>
	                <input class="form-control" type="text" ng-model="selectedUser.userWallet.lowerLimit">
	                <input class="form-control" type="text" ng-model="selectedUser.userWallet.upperLimit">
	            </div>
	        </div>
	</div>

	<div class="row form-group">

	   <input class="form-control" type="button" ng-click="update_user()"
	   style="background-color: lightseagreen;" style="margin: 1%;" value = "update details"></input>
	</div>

</div>