<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQj_ekLl1IiFiqhsEeX_PoCjk2XDeyQdo&libraries=places"></script> -->
<div class="container" style="width: 95%;margin-top: 4%;">
    <div class="row form-group">
        <div class="col-xs-12" align="center">
            <div class="form-inline">                            
                <input type="button" tabindex="4" class="form-control btn" value="Add Vendor" style="background-color: lightseagreen;" data-target="#addVendorModal" data-toggle="modal"/>
            </div>
        </div>
    </div>

    <table class="table table-hover" style="font-size: medium;text-align: center;width: 100%;" id="vendors_table">
      <thead>
        <tr >
          <th style="text-align: center;width: 10%;" >Vendor ID</th>
          <th style="text-align: center;width: 25%;" >Name</th>
          <th style="text-align: center;width: 10%;" >Contact No</th>        
          <th style="text-align: center;width: 10%;" >Owner Name</th>
          <th style="text-align: center;width: 15%;" >Market Name</th>
          <th style="text-align: center;width: 10%;" >Market Location</th>        
          <th style="text-align: center;width: 10%;" >View Transactions</th>        
        </tr>
      </thead>
      <tbody>
          <tr ng-repeat="vendor in vendors" ng-click = ''>  
              <td style="text-align: center;width: 10%;" >{{vendor.vendor_id}}</td>
              <td style="text-align: center;width: 25%;" >{{vendor.vendor_name}}</td>
              <td style="text-align: center;width: 10%;" >{{vendor.contact_number}}</td>          
              <td style="text-align: center;width: 10%;" >{{vendor.owner_name}}</td>
              <td style="text-align: center;width: 15%;" >{{vendor.sourcingPoint.sourcing_mkt_name}}</td>
              <td style="text-align: center;width: 10%;" >{{vendor.sourcingPoint.location}}</td>
              <td style="text-align: center;width: 10%;" > <input type="button" tabindex="4" class="form-control btn" value="View Transactions"  data-target="#viewTransactionModal" data-toggle="modal" ng-click="getVendorTransactions(vendor.vendor_id)" style="background-color: lightseagreen;"/> </td>            
          </tr>
      </tbody>
    </table>

    <div class="modal fade" id="addVendorModal" role="dialog">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add Vendor</h4>
          </div>
          <div class="modal-body">
            <th style="text-align: center;width: 10%;" >Enter Vendor Name</th>
            <input class="form-control" type="text" ng-model="vendor_name"></input>
            <th style="text-align: center;width: 10%;" >Select Vendor Market</th>
            <select class="form-control" ng-model="vendor_market" tabindex="3">
                   <option style="display:none" value class>Markets</option>
                   <option ng-repeat = "market in markets" value="{{market.sourcing_mkt_id}}"> {{market.sourcing_mkt_name}} </option>
            </select>
            <!-- <th style="text-align: center;width: 10%;" >Enter Location</th>
            <input class="form-control" type="text" ng-model=""></input> -->
            <th style="text-align: center;width: 10%;" >Enter Owner Name</th>
            <input class="form-control" type="text" ng-model="vendor_owner"></input>
            <th style="text-align: center;width: 10%;" >Enter Contact number</th>
            <input class="form-control" type="text" ng-model="vendor_contact"></input>
            <div class="row form-inline" align="center">
                <input type="button" name="Update" id="update" tabindex="4" class="form-control btn" value="Add Vendor" ng-click="addVendor(vendor_name, vendor_market, vendor_owner, vendor_contact)" style="background-color:lightseagreen;margin: 1%;"/>
                <input type="text" name="Update" id="status_text" tabindex="4" value="" ng-show = 'status_updated'/>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="viewTransactionModal" role="dialog">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Vendor Transactions</h4>
          </div>
          <div class="modal-body">
            <div class="row form-inline" align="center">
                <table class="table" style="text-align: center; font-size: medium;">
                  <thead>
                    <tr >
                      <th style="text-align: center;width: 2%;" >Id</th>
                      <th style="text-align: center;width: 20%;" >Vendor Name</th> 
                      <th style="width:3%;text-align: center;" >Order Id</th>       
                      <th style="text-align: center;width: 7%;" >Payment Mode</th>        
                      <th style="width:4%;text-align: center;" >Payment Status</th>                              
                      <th style="width:4%;text-align: center;" >Total Amount</th>
                      <th style="width:4%;text-align: center;" >Amount Paid</th>
                      <th style="width:4%;text-align: center;" >Balance Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat = 'vendor_transaction in vendor_transactions'>
                      <td> {{vendor_transaction.id}}</td>
                      <td> {{vendor_transaction.vendor.vendor_name}}</td>
                      <td> {{vendor_transaction.purchaseOrder.id}}</td>    
                      <td> {{vendor_transaction.payment_mode}}</td>
                      <td> {{vendor_transaction.payment_status}}</td>
                      <td> {{vendor_transaction.total_amount}}</td>          
                      <td> {{vendor_transaction.amout_paid}}</td>          
                      <td> {{vendor_transaction.total_amount - vendor_transaction.amout_paid}}</td>
                    </tr>
                  </tbody>      
                </table>        
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
  </div>
</div>